p {
    font-size: 20px;
    font-weight: 700;
    color: rgb(31, 29, 29);
    overflow: hidden;
    text-overflow:ellipsis; 

  }
  button{
    margin-right: 4px;
  }
  .list-input{
    width: 350px;
    display: flex;
    justify-content: center;
    margin-top: 0.8em;
    height: 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
